<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Centric's Associate Recongintion</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <a class="navbar-brand" href="https://aspnet.cob.ohio.edu/mis4200Team8/Home">
                <img id="brand-image" alt="Website Logo" src="https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png">
            </a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Recognitions", "Index", "Recognitions")</li>
                    <li>@Html.ActionLink("Profiles", "Index", "Users")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="Social_Media" class="container-fluid text-center  bg-grey">
                <h2>Follow Us</h2>
                <br>
                <div class="row slideanim slide">
                    <div class="col-sm-4">
                        <a href="https://www.facebook.com/CentricConsultingNational" class="btn btn-warning btn-block" style="color:purple" role="button">Facebook</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://twitter.com/centric" class="btn btn-warning btn-block" style="color:purple" role="button">Twitter</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://www.instagram.com/accounts/login/?next=/centricconsulting/" class="btn btn-warning btn-block" style="color:purple" role="button">Instagram</a>
                    </div>
                    <br><br>
                    <div class="row slideanim slide">
                        <div class="col-sm-6">
                            <a href="https://www.linkedin.com/company/centric-consulting/" class="btn btn-warning btn-block" style="color:purple" role="button">LinkedIn</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="btn btn-warning btn-block" style="color:purple" role="button">YouTube</a>
                        </div>
                    </div>

                    <a href="https://centricconsulting.com/contact/" class="btn btn-toolbar btn-lg" style="color:purple">Contact Us &raquo;</a></p><p>&copy; @DateTime.Now.Year - Centric's Associate Recongintion Application <p></p>
</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
