@model IEnumerable<MISTeam8.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Centric Always Recognizes Employees' Hardwork <span class="glyphicon glyphicon-searc" span> </span> </h2>

<p>
    @Html.ActionLink("Click Here To Recognize Your Fellow Coworkers For All Their Hardwork", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Recongizor <span class="glyphicon glyphicon-user" span> </span>
        </th>
        <th>
            Recongized  <span class="glyphicon glyphicon-user" span> </span>
        </th>
        <th>
            Award <span class="glyphicon glyphicon-star" span> </span>
        </th>
        <th>
            Date Recongized <span class="glyphicon glyphicon-calendar" span> </span>
        </th>
        <th>
            Recongition Details <span class="glyphicon glyphicon-pencil" span> </span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recognizor.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecongized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecognitionID })
        </td>
    </tr>
}

</table>
